%h1 Thanks for signing up for HomeGrown!
%p We will update you about our progress and launch date. Feel free to send us any sugestions or ideas you have to Make HomeGrown better.
%p We are honored to have you as one of our lead users.
%br
%p Sincerley,
%p - Mina Doroudi & Evan Kuhn
%p Co-founder, HomeGrown



