.about-wrapper
  %h3
    %span Your 
  .details
    %p
      Any where you go. Whenever you want. OutsideKick sitting in our hands and in the clouds, can be with you and locate you. In case of emergency It'll contact your requested Emergency Contacts. 
    %p Be outside with a peace of mind for your you and your loved ones. 
