#about-page-wrapper.page-body
  %h3 Get outdoors, with a peace of mind.
  %br
  %h4 About Home Grown
  .details
    %p
      Home Grown is Founded in San Francisco, California in 2013. It is here to help you track yourself while doing outdoor activities. You can send your location to your emergency contacts in case of  
  %br
  %h4 About The Team
  .details
    %p
      We are a first class team of engineers and outdoor enthusiasts. We love spending our time in the peacefulness of nature, the only catch is, in case of emergency it's hard for your loved ones to find you. Our mission is to let you have fun and let you and your loved ones relax while you are outdoors. We would love to hear your feedbacks and suggestions.
  = render 'follow_twitter'
  %br
  %h4.you You
  .details
    %p
      Are you an outdoor enthusiasts? Are you concern about personal safety? 
      = link_to "Sign up", root_path
      with us to be one of the first people who get to use Home Grown. 
      = link_to "Contact Us", contact_us_path
      and let us know what you like to see.
