#privacy-policy-page-wrapper.page-body
  %h3 Privacy Policy
  %p
    Protecting your private information is our priority. This Statement of Privacy applies to the www.homegrown.us and Home Grown, Inc.
  %br
  %h4 Use of Information
  %p
    Home Grown does not sell, rent or lease its customer lists or their information to third parties.
  %br
  %h4 Opt-Out & Unsubscribe
  %p
    We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Darby Smart by 
    = link_to "Contacting us", contact_us_path
  %br
  %h4 Effective Date
  %p This Privacy Policy is effective and was last updated on April 10, 2014.

